.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.form-input > input {
  height: 25px;
  width: 40px;
  margin: 20px 5px;
  font-size: 17px;
  text-align: right;
}

.results {
  display: flex;
  align-items: center;
  justify-content: center;
}