* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*:after {
  margin: 0;
  color: var(--primary-label);
  /* font-family: 'Inter', Helvetica, Arial, sans-serif !important; */
}

/* h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

span {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
} */

body {
  margin: 0;
  background-color: var(--primary-gb);
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, button {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
}


@font-face {
  font-family: 'Inter';
  src: url('/src/assets/fonts/Inter.ttf') format('truetype');
}

@media (prefers-color-scheme: light) {
  :root {

    --primary-label:        #000000;
    --secondary-label:      #3C3C4399;
    --tertiary-label:       #3C3C434D;
    --quarternary-label:    #3C3C432E;

    --placeholder-text:     #3C3C434C;

    --primary-tint:         #FFCC00;

    --primary-fill:         #78788033;
    --secondary-fill:       #78788029;
    --tertiary-fill:        #7676801F;
    --quarternary-fill:     #74748015;

    --thick-material:       #FDFDFDEC;
    --regular-material:     #F9F9F9C8;
    --thin-material:        #F5F5F59A;
    --ultrathin-material:   #F0F0F061;

    --material-seperator:   #0000004D;

    --opaque-separator:     #C6C6C8;
    --nonopaque-separator:  #3C3C434A;

    --primary-sb:           #FFFFFF;
    --secondary-sb:         #EFEFF4;
    --tertiary-sb:          #FFFFFF;
    --quarternary-sb:       #EFEFF4;

    --primary-gb:           #EFEFF4;
    --secondary-gb:         #FFFFFF;
    --tertiary-gb:          #EFEFF4;
    --quarternary-gb:       #FFFFFF;

    --system-gray1:         #8E8E93;
    --system-gray2:         #AEAEb2;
    --system-gray3:         #C7C7CC;
    --system-gray4:         #D1D1D6;
    --system-gray5:         #E5E5EA;
    --system-gray6:         #F2F2F7;

    --link:                 #007AFFFF;

    --dark-text:            #000000FF;
    --light-text:           #FFFFFF99;

    --black:                #000000;
    --white:                #FFFFFF;

    --system-blue:          #007AFF;
    --system-green:         #34C759;
    --system-indigo:        #5856D6;
    --system-orange:        #FF9500;
    --system-pink:          #FF2D55;
    --system-purple:        #AF52DE;
    --system-red:           #FF3B30;
    --system-teal:          #5AC8FA;
    --system-yellow:        #FFCC00;

    --d1:                   #5AC8FA;
    --d2:                   #AF52DE;
    --d3:                   #FFCC00;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-label:        #FFFFFF;
    --secondary-label:      #EBEBF599;
    --tertiary-label:       #EBEBF54D;
    --quarternary-label:    #EBEBF52E;

    --placeholder-text:     #EBEBF54C;

    --primary-tint:         #FFD60A;

    --primary-fill:         #7878805C;
    --secondary-fill:       #78788052;
    --tertiary-fill:        #7676803E;
    --quarternary-fill:     #7474802E;

    --thick-material:       #202020EC;
    --regular-material:     #252525C8;
    --thin-material:        #2525259A;
    --ultrathin-material:   #46464680;

    --material-seperator:   #FFFFFF4D;

    --opaque-separator:     #38383A;
    --nonopaque-separator:  #545458A6;

    --primary-sb:           #000000;
    --secondary-sb:         #1C1C1E;
    --tertiary-sb:          #2C2C2E;
    --quarternary-sb:       #3A3A3C;

    --primary-gb:           #000000;
    --secondary-gb:         #1C1C1E;
    --tertiary-gb:          #2c2c2e;
    --quarternary-gb:       #3A3A3C;

    --system-gray1:         #8E8E93;
    --system-gray2:         #636366;
    --system-gray3:         #48484A;
    --system-gray4:         #3A3A3C;
    --system-gray5:         #2C2C2E;
    --system-gray6:         #1C1C1E;

    --link:                 #0984FFFF;

    --dark-text:            #000000FF;
    --light-text:           #FFFFFF99;

    --black:                #000000;
    --white:                #FFFFFF;

    --system-blue:          #0A84FF;
    --system-green:         #30D158;
    --system-indigo:        #5E5CE6;
    --system-orange:        #FF9F0A;
    --system-pink:          #FF375F;
    --system-purple:        #BF5AF2;
    --system-red:           #FF453A;
    --system-teal:          #64D2FF;
    --system-yellow:        #FFD60A;

    --d1:                   #64D2FF;
    --d2:                   #BF5AF2;
    --d3:                   #FFD60A;
  }
}